# Distribution directory
dist/*
!dist/.gitkeep

# Error log files
npm-error.log*
yarn-error.log*

# Debug log files
npm-debug.log*
yarn-debug.log*

# Dependencies
node_modules/
bower_components/
vendor/

# Nano, vim/vi & swap files
nano.save
*.swp
**/*.swp

# Lock files
package-lock.json
yarn.lock

# Webstorm project files
.idea

# Netbeans project files
nbproject

# Zend studio for eclipse project files
.buildpath
.project
.settings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store files
.DS_Store
