<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img [src]="logo.ref" [width]="logo.size" alt="">
            <span>{{dict.company_name}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{dict.navbar_item_1}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{dict.navbar_item_2}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{dict.navbar_item_3}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{dict.navbar_item_4}}</a>
                </li>
            </ul>
            <a href="#" class="btn btn-info login">
                <i class="fa fa-sign-in"></i>
                <span>{{dict.navbar_item_5}}</span>
            </a>
        </div>
    </div>
</nav>
